{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <!--Wellcome to this page section-->
    <section class="mx-5 bg-primary-new radius-30">
        <div class="flat-img-with-text">
            <div class="content-left img-animation wow">
                <img alt="{{ banner.image_title }}" class="lazyload" data-src="{{ banner.image.url }}"
                     src="{{ banner.image.url }}"/>
            </div>
            <div class="content-right">
                <div class="box-title wow fadeInUp">
                    <div class="text-subtitle text-primary"></div>
                    <h3 class="title mt-4">{{ banner.title }}</h3>
                    <p class="desc text-variant-1">{{ banner.description }}</p>
                </div>
                <div class="flat-service wow fadeInUp" data-wow-delay=".2s">
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-proven"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title1 }}</h5>
                            <p class="description">
                                {{ banner.mini_description1 }}
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-customize"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title2 }}</h5>
                            <p class="description">
                                {{ banner.mini_description2 }}
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-partnership"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title3 }}</h5>
                            <p class="description">
                                {{ banner.mini_description3 }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Wellcome to this page section -->
    <br>
    <br>
    {#    <!-- Search -->#}
    <div class="flat-control-search abs">
        <div class="container">
            <div class="flat-tab flat-tab-form">
                <div class="tab-content">
                    <div class="tab-pane fade active show" role="tabpanel">
                        <div class="form-sl">
                            <form method="post">
                                <div class="wd-find-select shadow-3">
                                    <div class="inner-group">
                                        <div class="form-group-2 form-style">
                                            <label>محل</label>
                                            <div class="group-ip">
                                                <input class="form-control" name="s"
                                                       placeholder="محل جستجو"
                                                       required=""
                                                       title="Search for"
                                                       type="text"
                                                       value=""
                                                />
                                                <a class="icon icon-location" href="#"> </a>
                                            </div>
                                        </div>
                                        <button
                                                class="tf-btn btn-search primary"
                                                type="submit"
                                        >
                                            جستجو<i class="icon icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search -->
    <br>
    <br>
    <!-- Slider Categories Section-->
    <section class="px-10 w-100">
        <div class="box-title text-center wow fadeInUp">
            <h3 class="mt-4 title">دسته بندی</h3>
            <div class="text-subtitle text-primary">{{ banner.slider1_description }}</div>
        </div>
        <div class="swiper-container-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for category in categories %}
                        <div class="swiper-slide">
                            <div class="box-location">
                                <a class="image img-style" href="{{ category.get_absolute_url }}">
                                    <img alt="image-location"
                                         class="lazyload"
                                         data-src="{{ category.image.url }}"
                                         src="{{ category.image.url }}"
                                    />
                                </a>
                                <div class="content">
                                    <div class="inner-left">
                                        <span class="sub-title fw-6"></span>
                                        <h6 class="title text-line-clamp-1 link">{{ category.title }}</h6>
                                    </div>
                                    <a
                                            class="box-icon line w-44 round"
                                            href="{{ category.get_absolute_url }}"
                                    ><i class="icon icon-arrow-left2"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sw-pagination sw-pagination-location text-center"></div>
            </div>
        </div>

        <!-- Move navigation buttons BELOW the slider -->
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </section>
    <!-- End Slider Categories Section -->
    <!-- Projects Section -->
    <section class="flat-section bg-primary-new">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">تجربه های من</div>
                <h3 class="title mt-4">
                    {{ banner.project_base_title }}
                </h3>
            </div>
            <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
                <div class="tab-content">
                    <div class="row">
                        {% for project in projects|slice:":9" %} <!-- Show only 9 projects -->
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                                <div class="homelengo-box card border rounded shadow-sm">
                                    <div class="archive-top position-relative">
                                        <a class="images-group" href="{{ project.get_absolute_url }}">
                                            <div class="images-style">
                                                <img alt="img" class="lazyload img-fluid rounded-top"
                                                     data-src="{{ project.image.url }}" src="{{ project.image.url }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="archive-bottom p-3">
                                        <h6 class="text-capitalize mt-2">
                                            <a class="link text-dark fw-bold"
                                               href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                                        </h6>
                                        <div class="d-flex justify-content-between text-muted small mt-2">
                                            <span>🏠 {{ project.gravity_loading_sys }} سیسستم باربری کف</span>
                                            <span>🛏 {{ project.lateral_loading_sys }}سیستم باربری جانبی</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-4">
                        <a class="tf-btn btn-view primary size-1 hover-btn-view" href="sidebar-grid.html">
                            مشاهده ویژگی ها <span class="icon icon-arrow-left2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->
    <!-- Coworking Section -->
    <section class="flat-section flat-location-v2">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">پروژه های مشترک</div>
                <h3 class="title mt-4">همکاری در طرح</h3>
            </div>
            <div class="grid-location wow fadeInUp" data-wow-delay=".2s">

                <!-- Top 4 images -->
                {% for object in coworking|slice:":4" %}
                    <a class="item-{{ forloop.counter }} box-location-v2 hover-img"
                       href="{{ object.get_absolute_url }}">
                        <div class="box-img img-style">
                            <img
                                    alt="image-location"
                                    class="lazyload"
                                    data-src="{{ object.image.url }}"
                                    src="{{ object.image.url }}"
                            />
                        </div>
                        <div class="content">
                            <h6 class="link">{{ object.title }}</h6>
                        </div>
                    </a>
                {% endfor %}
                <!-- Bottom 2 images -->
                {% for object in coworking|slice:"4:6" %}
                    <a class="item-{{ forloop.counter|add:4 }} box-location-v2 hover-img"
                       href="{{ object.get_absolute_url }}">
                        <div class="box-img img-style">
                            <img
                                    alt="image-location"
                                    class="lazyload"
                                    data-src="{{ object.image.url }}"
                                    src="{{ object.image.url }}"
                            />
                        </div>
                        <div class="content">
                            <h6 class="link">{{ object.title }}</h6>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Coworking Section -->
    <!-- Mentoring and Learning Section -->
    <section class="flat-section bg-primary-new">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary">رشد کنیم</div>
            <h3 class="mt-4 title">آموزش ها</h3>
        </div>
        <div class="container">
            <div class="row">
                {% for train in trainings %}
                    {% if forloop.first or forloop.counter0|divisibleby:4 %}
                        <div class="row mb-4">  <!-- Add spacing between rows -->
                    {% endif %}
                <div class="col-md-6 mb-4">  <!-- Added mb-4 for spacing -->
                    <div class="d-flex bg-white shadow-sm rounded p-3">
                        <!-- Image -->
                        <div class="flex-shrink-0">
                            <img src="{{ train.image.url }}" class="rounded" alt="{{ train.title }}"
                                 style="width: 150px; height: 120px; object-fit: cover;">
                        </div>
                        <!-- Text Content -->
                        <div class="flex-grow-1 ms-3">
                            <h5 class="fw-bold">{{ train.title }}</h5>
                            <p class="text-muted mb-1">{{ train.description }}</p>
                            <p class="text-primary fw-bold">قیمت: {{ train.price }} تومان</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-4">
                    {% if trainings.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">اولین</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ trainings.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">صفحه {{ trainings.number }} از {{ trainings.paginator.num_pages }}</span>
                    </li>
                    {% if trainings.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ trainings.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ trainings.paginator.num_pages }}">آخرین</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>
    <!-- End Mentoring and Learning Section -->
{% endblock %}