{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <!--Wellcome to this page section-->
    <section class="mx-5 bg-primary-new radius-30">
        <div class="flat-img-with-text">
            <div class="content-left img-animation wow">
                <img alt="{{ banner.image_title }}" class="lazyload" data-src="{{ banner.image.url }}"
                     src="{{ banner.image.url }}"/>
            </div>
            <div class="content-right">
                <div class="box-title wow fadeInUp">
                    <div class="text-subtitle text-primary"></div>
                    <h3 class="title mt-4">{{ banner.title }}</h3>
                    <p class="desc text-variant-1">{{ banner.description }}</p>
                </div>
                <div class="flat-service wow fadeInUp" data-wow-delay=".2s">
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-proven"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title1 }}</h5>
                            <p class="description">
                                {{ banner.mini_description1 }}
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-customize"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title2 }}</h5>
                            <p class="description">
                                {{ banner.mini_description2 }}
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-partnership"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">{{ banner.mini_title3 }}</h5>
                            <p class="description">
                                {{ banner.mini_description3 }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Wellcome to this page section -->
    <br>
    <br>
    {#    <!-- Search -->#}
    <div class="flat-control-search abs">
        <div class="container">
            <div class="flat-tab flat-tab-form">
                <div class="tab-content">
                    <div class="tab-pane fade active show" role="tabpanel">
                        <div class="form-sl">
                            <form method="post">
                                <div class="wd-find-select shadow-3">
                                    <div class="inner-group">
                                        <div class="form-group-2 form-style">
                                            <label>محل</label>
                                            <div class="group-ip">
                                                <input class="form-control" name="s"
                                                       placeholder="محل جستجو"
                                                       required=""
                                                       title="Search for"
                                                       type="text"
                                                       value=""
                                                />
                                                <a class="icon icon-location" href="#"> </a>
                                            </div>
                                        </div>
                                        <button
                                                class="tf-btn btn-search primary"
                                                type="submit"
                                        >
                                            جستجو<i class="icon icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search -->
    <br>
    <br>
    <!-- Slider Categories Section-->
    <section class="px-10 w-100">
        <div class="box-title text-center wow fadeInUp">
            <h3 class="mt-4 title">دسته بندی</h3>
            <div class="text-subtitle text-primary">{{ banner.slider1_description }}</div>
        </div>
        <div class="swiper-container-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for category in categories %}
                        <div class="swiper-slide">
                            <div class="box-location">
                                <a class="image img-style" href="{{ category.get_absolute_url }}">
                                    <img alt="image-location"
                                         class="lazyload"
                                         data-src="{{ category.image.url }}"
                                         src="{{ category.image.url }}"
                                    />
                                </a>
                                <div class="content">
                                    <div class="inner-left">
                                        <span class="sub-title fw-6"></span>
                                        <h6 class="title text-line-clamp-1 link">{{ category.title }}</h6>
                                    </div>
                                    <a
                                            class="box-icon line w-44 round"
                                            href="{{ category.get_absolute_url }}"
                                    ><i class="icon icon-arrow-left2"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sw-pagination sw-pagination-location text-center"></div>
            </div>
        </div>
        <!-- Move navigation buttons BELOW the slider -->
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <!-- End Slider Categories Section -->
    <!-- Projects Section -->
    <section class="flat-section bg-primary-new">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">تجربه های من</div>
                <h3 class="title mt-4">
                    {{ banner.project_base_title }}
                </h3>
            </div>
            <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
                <div class="tab-content">
                    <div class="row" id="projects-container">
                        {% include "bim/projects-list.html" %}
                    </div>
                    <ul class="justify-content-center wd-navigation">
                        {% if projects.has_previous %}
                            <li>
                                <a class="nav-item page-link" href="#" data-page="{{ projects.previous_page_number }}"
                                   data-type="projects">
                                    <i class="icon icon-arr-r"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% for num in projects.paginator.page_range %}
                            {% if num == projects.number %}
                                <li><a class="nav-item page-link" href="#" data-page="{{ num }}"
                                       data-type="projects">{{ num }}</a></li>
                            {% else %}
                                <li><a class="nav-item page-link" href="#" data-page="{{ num }}"
                                       data-type="projects">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if projects.has_next %}
                            <li>
                                <a class="nav-item page-link" href="#" data-page="{{ projects.next_page_number }}"
                                   data-type="projects">
                                    <i class="icon icon-arr-l"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Coworking Section -->
    <section class="flat-section flat-location-v2">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">پروژه های مشترک</div>
                <h3 class="title mt-4">همکاری در طرح</h3>
            </div>
            <div class="grid-location wow fadeInUp" data-wow-delay=".2s">
                {% for object in coworking %}
                    <a class="item-{{ forloop.counter }} box-location-v2 hover-img"
                       href="{{ object.get_absolute_url }}">
                        <div class="box-img img-style">
                            <img
                                    alt="image-location"
                                    class="lazyload"
                                    data-src="{{ object.image.url }}"
                                    src="{{ object.image.url }}"
                            />
                        </div>
                        <div class="content">
                            <h6 class="link">{{ object.title }}</h6>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Coworking Section -->
    <!-- Mentoring and Learning Section -->
    <section class="flat-section bg-primary-new">
        <div class="box-title text-center wow fadeInUp">
            <h3 class="mt-4 title">آموزش ها</h3>
            <div class="text-subtitle text-primary">رشد کنیم</div>
        </div>
        <div class="container" id="trainings-container">
            {% include 'bim/training-list.html' %}
        </div>
        <ul class="justify-content-center wd-navigation">
            {% if trainings.has_previous %}
                <li>
                    <a class="nav-item page-link" href="#" data-page="{{ trainings.previous_page_number }}"
                       data-type="trainings">
                        <i class="icon icon-arr-r"></i>
                    </a>
                </li>

            {% endif %}
            {% for num in trainings.paginator.page_range %}
                {% if num == trainings.number %}
                    <li><a class="nav-item page-link" href="#" data-page="{{ num }}"
                           data-type="trainings">{{ num }}</a></li>
                {% else %}
                    <li><a class="nav-item page-link" href="#" data-page="{{ num }}"
                           data-type="trainings">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if trainings.has_next %}
                <li>
                    <a class="nav-item page-link" href="#" data-page="{{ trainings.next_page_number }}"
                       data-type="trainings">
                        <i class="icon icon-arr-l"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $(document).on('click', '.page-link', function (e) {
                    e.preventDefault();
                    let page = $(this).data('page');
                    let type = $(this).data('type');

                    let requestData = {};
                    if (type === "projects") {
                        requestData["projects_page"] = page;
                    } else if (type === "trainings") {
                        requestData["trainings_page"] = page;
                    }

                    $.ajax({
                        url: window.location.pathname,
                        data: requestData,
                        headers: {'X-Requested-With': 'XMLHttpRequest'},
                        success: function (response) {
                            if (type === "projects") {
                                $("#projects-container").html(response.projects_html);
                            } else if (type === "trainings") {
                                $("#trainings-container").html(response.trainings_html);
                            }
                        }
                    });
                });
            });
        });
    </script>
    {% block extra_js %}
        <script src="{% static 'js/slider.js' %}" type="text/javascript"></script>
        {% endblock %}
{% endblock %}