{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div class="flat-section-v4">
        <div class="container">
            <div class="header-property-detail">
                <div class="content-top d-flex justify-content-between align-items-center">
                    <h3 class="title link fw-8">{{ project.title }}</h3>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="single-property-gallery">
                <div class="position-relative">
                    <div class="swiper sw-single">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-sw-single">
                                    <style>
                                        .image-container {
                                            width: 1260px;
                                            height: 500px;
                                            background-color: white;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        }

                                        .image-container img {
                                            max-height: 100%;
                                            max-width: 100%;
                                            object-fit: contain;
                                        }

                                        @media (max-width: 768px) {
                                            .image-container {
                                                width: 100%;
                                                height: auto;
                                                background-color: transparent;
                                            }

                                            .image-container img {
                                                width: 100%;
                                                height: auto;
                                                object-fit: cover;
                                            }
                                        }
                                    </style>

                                    <div class="image-container">
                                        <img alt="{{ project.title }}" src="{{ project.image.url }}"/>
                                    </div>
                                </div>
                            </div>
                            {% for image in project.images.all %}
                                <div class="swiper-slide">
                                    <div class="image-sw-single">
                                        <div class="image-container">
                                            <img alt={{ project.title }}-{{ forloop.counter }}"
                                                 src="{{ project.image.url }}"/>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-navigation">
                        <div class="navigation swiper-nav-next nav-next-single">
                            <span class="icon icon-arr-l"></span>
                        </div>
                        <div class="navigation swiper-nav-prev nav-prev-single">
                            <span class="icon icon-arr-r"></span>
                        </div>
                    </div>
                </div>
                <div class="swiper thumbs-sw-pagi">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="img-thumb-pagi">
                                <img alt="{{ project.title }}" src="{{ project.image.url }}"
                                     style="width: 148px;height: 111px"/>
                            </div>
                        </div>
                        {% for image in project.images.all %}
                            <div class="swiper-slide">
                                <div class="img-thumb-pagi">
                                    <img alt="{{ project.title }}-{{ forloop.counter }}" src="{{ image.image.url }}"
                                         style="width: 148px;height: 111px"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="flat-section-v3 flat-property-detail">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="single-property-element single-property-desc">
                        <h5 class="fw-6 title">توضیحات</h5>
                        <p class="text-variant-1">
                            {{ project.description }}
                        </p>
                        <p class="mt-8 text-variant-1">
                        </p>
                        <a class="btn-view" href="#"
                        ><span class="text">مشاهده بیشتر</span>
                        </a>
                    </div>
                    <div class="single-property-element single-property-info">
                        <h6 class="title fw-6">جزئیات</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">مهندس معمار:</span>
                                    <div class="content text-black-3">{{ project.architect }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">مهندس سازه:</span>
                                    <div class="content text-black-3">{{ project.structural_engineer }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">مهندس پیمانکار:</span>
                                    <div class="content text-black-3">{{ project.contractor }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">نرم افزار ها:</span>
                                    <div class="content text-black-3">{{ project.bim_software_used }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">ابعاد پروژه:</span>
                                    <div class="content text-black-3">{{ project.project_scale }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">نسخه مدل:</span>
                                    <div class="content text-black-3">{{ project.model_version }}</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">هماهنگ سازی شده:</span>
                                    <div class="content text-black-3">
                                        {% if project.is_coordinated %}
                                            <span>بله</span>
                                        {% else %}
                                            <span>خیر</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="inner-box">
                                    <span class="label text-black-3">تعداد عناصر مدل شده:</span>
                                    <div class="content text-black-3">{{ project.total_model_elements }}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if project.clash_detection_report %}
                        <div class="single-property-element single-property-attachments">
                            <h6 class="title fw-6">فایل گزارش تداخلات</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="attachments-item" href="{{ project.clash_detection_report.url }}"
                                       target="_blank">
                                        <div class="box-icon w-60">
                                            <img alt="file" src="{% static 'images/home/file-1.png' %}"/>
                                        </div>
                                        <span>{{ project.get_detection_filename }}</span>
                                        <i class="icon icon-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.video %}
                        <div class="single-property-element single-property-video">
                            <h5 class="title fw-6">ویدیو</h5>
                            <video class="w-100" height="500px" src="{{ project.video.url }}"
                                   controls>
                                <source src="{{ project.video.url }}">
                            </video>
                        </div>
                    {% endif %}

                    {% if project.latitude and project.longitude %}
                        <style>
                            #map {
                                height: 500px;
                                width: 100%;
                            }
                        </style>

                        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
                        <div id="map" class="single-property-element single-property-map" style="height: 400px">
                            <h5 class="title fw-6">مکان نقشه</h5>

                        </div>
                        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                        <script>
                            // تنظیمات نقشه
                            var map = L.map('map').setView([{{ project.longitude }}, {{ project.latitude }}], 12); // تهران

                            // اضافه کردن لایه نقشه از OpenStreetMap
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; OpenStreetMap contributors'
                            }).addTo(map);

                            // اضافه کردن نشانگر (Marker) روی نقشه
                            L.marker([{{ project.longitude }}, {{ project.latitude }}]).addTo(map)
                                .openPopup();
                        </script>
                    {% endif %}
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="single-sidebar fixed-sidebar">
                        {% if project.pdf %}
                            <div class="widget-box single-property-contact">
                                <iframe src="{{ project.pdf.url }}"
                                        style="width: 100%; height: 600px; max-width: 100%; border: none;"></iframe>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a class="tf-btn btn-view primary hover-btn-view w-100"
                               href="{% url 'user:add-document' %}">
                                ارسال مدارک <span class="icon icon-arrow-left2"></span>
                            </a>
                        {% else %}
                            <a class="tf-btn btn-view primary hover-btn-view w-100" href="#"
                               onclick="alert('برای ارسال مدارک ابتدا وارد حساب کاربری خود شوید!');">
                                ارسال مدارک <span class="icon icon-arrow-left2"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/carousel.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugin.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/rangle-slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/shortcodes.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/marker.js' %}"></script>
    <script src="{% static 'js/infobox.min.js' %}"></script>
{% endblock %}