{% extends 'Users/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="button-show-hide show-mb">
                <span class="body-1">نمایش داشبورد</span>
            </div>
            <div class="flat-counter-v2 tf-counter">
                <div class="counter-box">
                    <div class="box-icon">
                        <span class="icon icon-listing"></span>
                    </div>
                    <div class="content-box">
                        <div class="title-count text-variant-1"> فایل های ارسال شده</div>
                        <div class="box-count d-flex align-items-end">
                            <!-- <h3 class="number fw-8" data-speed="2000" data-to="17" data-inviewport="yes">32</h3>       -->
                            <h3 class="fw-8">{{ count }}</h3>
                        </div>
                    </div>
                </div>
                <div class="counter-box">
                    <div class="box-icon">
                        <span class="icon icon-review"></span>
                    </div>
                    <div class="content-box">
                        <div class="title-count text-variant-1"> بررسی شده</div>
                        <div class="d-flex align-items-end">
                            <h3 class="fw-8">{{ count_seen }}</h3>
                        </div>
                    </div>
                </div>
                <div class="counter-box">
                    <div class="box-icon">
                        <span class="icon icon-pending"></span>
                    </div>
                    <div class="content-box">
                        <div class="title-count text-variant-1">بررسی نشده</div>
                        <div class="box-count d-flex align-items-end">
                            <h3 class="fw-8">{{ count_unseen }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-content row">
                <div class="col-xl-9">
                    <div class="widget-box-2 wd-listing">
                        <h5 class="title">لیست فایل ها</h5>
                        <div class="wrap-table">
                            <div class="table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>لیست</th>
                                        <th>وضعیت</th>
                                        <th>پیام ادمین</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in files %}
                                        <tr class="file-delete">

                                            <td>
                                                <div class="listing-box">
                                                    <div class="content">
                                                        <div class="title">
                                                            <a class="link"
                                                               href="{{ file.file.url }}"
                                                            >{{ file.get_filename }}</a
                                                            >
                                                        </div>
                                                        <div class="text-date">
                                                            تاریخ ارسال: {{ file.created | date:"Y-m-d H:i:s" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {% if file.seen %}
                                                    <div class="status-wrap">
                                                        <a class="btn-status" href="#">
                                                            مشاهده شده
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="status-wrap">
                                                        <a class="btn-status" href="#"
                                                           style="background-color: red; color: white;">
                                                            مشاهده نشده
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <ul class="list-action">
                                                    {% if file.message %}
                                                        {{ file.message }}
                                                    {% else %}
                                                    پیامی وجود ندارد
                                                    {% endif %}
                                                </ul>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <ul class="wd-navigation">
                                <li>
                                    <a class="nav-item" href="#"
                                    ><i class="icon icon-arr-r"></i
                                    ></a>
                                </li>
                                <li><a class="nav-item" href="#">1</a></li>
                                <li><a class="nav-item" href="#">2</a></li>
                                <li><a class="nav-item active" href="#">3</a></li>
                                <li><a class="nav-item" href="#">4</a></li>
                                <li><a class="nav-item" href="#">...</a></li>
                                <li>
                                    <a class="nav-item" href="#"
                                    ><i class="icon icon-arr-l"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}


