{% load static %}
<div class="modal modal-account fade" id="modalRegister">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="flat-account">
                <div class="banner-account">
                    <img alt="banner" src="{% static 'images/banner/banner-account2.jpg' %}"/>
                </div>
                <div class="form-account">
                    <div class="title-box">
                        <h4>ثبت نام</h4>
                        <span class="close-modal icon-close2" data-bs-dismiss="modal"></span>
                    </div>
                    <div class="box">
                        <div class="box-fieldset">
                            <label>شماره تلفن</label>
                            <div class="ip-field">
                                <input id="phone" class="form-control" placeholder="شماره تلفن" type="text" required/>
                            </div>
                        </div>

                        <button id="send-code-btn" class="tf-btn secondary w-100">ارسال کد تأیید</button>

                        <div class="box-fieldset">
                            <label>کد تأیید</label>
                            <div class="ip-field">
                                <input id="code" class="form-control" placeholder="کد تأیید" type="text"/>
                            </div>
                        </div>

                        <div class="box-fieldset">
                            <label>نام و نام خانوادگی</label>
                            <div class="ip-field">
                                <input id="fullname" class="form-control" placeholder="نام نام خانوادگی" type="text"
                                       required/>
                            </div>
                        </div>

                        <div class="box-fieldset">
                            <label>آدرس ایمیل</label>
                            <div class="ip-field">
                                <input id="email" class="form-control" placeholder="آدرس ایمیل" type="email" required/>
                            </div>
                        </div>

                        <div class="box-fieldset">
                            <label>رمز عبور</label>
                            <div class="ip-field">
                                <input id="password" class="form-control" placeholder="رمز ورود شما" type="password"
                                       required/>
                            </div>
                        </div>

                        <div class="box-fieldset">
                            <label>تکرار رمز عبور</label>
                            <div class="ip-field">
                                <input id="confirm-password" class="form-control" placeholder="تکرار رمز ورود"
                                       type="password" required/>
                            </div>
                        </div>
                        <div class="alert" id="response-message"></div>
                        <button id="register-btn" class="tf-btn primary w-100">ثبت نام</button>
                        <br>
                        <div class="text text-center">
                            حساب کاربری دارید؟ <a class="text-primary" data-bs-toggle="modal" href="#modalLogin">وارد
                            شوید</a>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        // ارسال کد تأیید
                        $("#send-code-btn").click(function () {
                            let phone = $("#phone").val();

                            $.ajax({
                                url: "{% url 'user:register' %}",
                                type: "POST",
                                data: {
                                    phone: phone,
                                    csrfmiddlewaretoken: "{{ csrf_token }}"
                                },
                                success: function (response) {
                                    $("#response-message").html('<p style="color: green;">' + response.message + '</p>');
                                    $("#send-code-btn").prop("disabled", true);
                                    $("#timer").show();
                                    let timeLeft = 120;
                                    countdown = setInterval(function () {
                                        if (timeLeft <= 0) {
                                            clearInterval(countdown);
                                            $("#send-code-btn").prop("disabled", false).text("ارسال کد تأیید");
                                            $("#timer").hide();
                                        } else {
                                            $("#timer").text("لطفاً " + timeLeft + " ثانیه صبر کنید.");
                                            $("#send-code-btn").text("منتظر بمانید (" + timeLeft + "s)");
                                            timeLeft--;
                                        }
                                    }, 1000);
                                },
                                error: function (xhr) {
                                    let errorMessage = xhr.responseJSON.error || "خطا در ارسال کد!";
                                    $("#response-message").html('<p style="color: red;">' + errorMessage + '</p>');
                                }
                            });
                        });

                        $("#register-btn").click(function () {
                            let phone = $("#phone").val();
                            let code = $("#code").val();
                            let fullname = $("#fullname").val();
                            let email = $("#email").val();
                            let password = $("#password").val();
                            let confirmPassword = $("#confirm-password").val();

                            // بررسی تطابق رمز عبور
                            if (password !== confirmPassword) {
                                $("#response-message").html('<p style="color: red;">رمز عبور و تکرار آن یکسان نیست!</p>');
                                return;
                            }

                            let formData = {
                                phone: phone,
                                code: code,
                                fullname: fullname,
                                email: email,
                                password: password,
                                confirm_password: confirmPassword,
                                csrfmiddlewaretoken: "{{ csrf_token }}"
                            };

                            $.ajax({
                                url: "{% url 'user:register_activation' %}",
                                type: "POST",
                                data: formData,
                                success: function (response) {
                                    const redirectUrl = new URL(response.redirect_url, window.location.origin);
                                    $("#response-message").html('<p style="color: green;">' + response.message + '</p>');
                                    window.location.href = redirectUrl.href;
                                },
                                error: function (xhr) {
                                    let errorMessage = xhr.responseJSON.error || "خطا در ثبت‌نام!";
                                    $("#response-message").html('<p style="color: red;">' + errorMessage + '</p>');
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!-- Javascript -->