{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <section class="flat-section bg-primary-new">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <h3 class="title mt-4">
                    {{ category.title }}
                </h3>
                {% if category.description %}
                    <div class="text-subtitle">{{ category.description }}</div>
                {% endif %}
            </div>
            <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
                <div class="tab-content">
                    <div class="row">
                        {% for project in projects|slice:":9" %} <!-- Show only 9 projects -->
                            <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
                                <div class="homelengo-box card border rounded shadow-sm">
                                    <div class="archive-top position-relative">
                                        <a class="images-group" href="{{ project.get_absolute_url }}">
                                            <div class="images-style">
                                                <img alt="img" class="lazyload img-fluid rounded-top"
                                                     data-src="{{ project.image.url }}" src="{{ project.image.url }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="archive-bottom p-3">
                                        <h6 class="text-capitalize mt-2">
                                            <a class="link text-dark fw-bold"
                                               href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                                        </h6>
                                        <div class="d-flex justify-content-between text-muted small mt-2">
                                            <span>🏠 {{ project.gravity_loading_sys }} سیسستم باربری کف</span>
                                            <span>🛏 {{ project.lateral_loading_sys }}سیستم باربری جانبی</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if is_paginated %}
            <ul class="justify-content-center wd-navigation">
                {% if page_obj.has_previous %}
                    <li>
                        <a class="nav-item" href="?page={{ page_obj.previous_page_number }}">
                            <i class="icon icon-arr-r"></i>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li><a class="nav-item active" href="?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li><a class="nav-item" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a class="nav-item" href="?page={{ page_obj.next_page_number }}">
                            <i class="icon icon-arr-l"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </section>
    <!-- End Projects Section -->
{% endblock %}