{% extends 'parent/base.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}{% endblock %}
{% block content %}
    <!-- Slider -->
    <section class="flat-slider home-5">
        <div class="wrap-slider-swiper">
            <div class="swiper-container thumbs-swiper-column">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="box-img">
                            <img alt="banner image1" style="height: 600px;width: auto"
                                 src="{{ panel.banner_image1.url }}"/>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box-img">
                            <img alt="banner image2" style="height: 600px;width: auto"
                                 src="{{ panel.banner_image2.url }}"/>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box-img">
                            <img alt="banner image3" style="height: 600px;width: auto"
                                 src="{{ panel.banner_image3.url }}"/>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="box-img">
                            <img alt="banner image4" style="height: 600px;width: auto"
                                 src="{{ panel.banner_image4.url }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <div class="heading">
                                    <h1 class="title-large title text-white wow fadeIn animationtext clip"
                                        data-wow-delay=".2s" data-wow-duration="2000ms">
                                        <span class="tf-text s1 cd-words-wrapper">
                                            <span class="item-text is-visible">{{ panel.banners_title }}</span>
                                            <span class="item-text is-hidden">{{ panel.banners_title }}</span>
                                        </span> <br>
                                    </h1>
                                    <p class="subtitle text-white body-2 wow fadeInUp" data-wow-delay=".2s">
                                        {{ panel.banners_text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="swiper-container thumbs-swiper-column1 swiper-pagination5">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-detail">
                                            <img alt="banner image1" src="{{ panel.banner_image1.url }}"/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-detail">
                                            <img alt="banner image2" src="{{ panel.banner_image2.url }}"/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-detail">
                                            <img alt="banner image3" src="{{ panel.banner_image3.url }}"/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image-detail">
                                            <img alt="banner image4" src="{{ panel.banner_image4.url }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- /Slider -->
    <!-- /Filter -->
    <div class="flat-control-search abs">
        <div class="container">
            <div class="flat-tab flat-tab-form">
                <div class="tab-content">
                    <div class="tab-pane fade active show" role="tabpanel">
                        <div class="form-sl">
                            <form method="get" action="{% url 'home_Page:search' %}">
                                <div class="wd-find-select shadow-3">
                                    <div class="inner-group">
                                        <div class="form-group-2 form-style">
                                            <label>محل</label>
                                            <div class="group-ip">
                                                <input class="form-control" name="search" placeholder="محل جستجو" required=""
                                                       title="Search for" type="text" value=""/>
                                                <a class="icon icon-location" href="#"> </a>
                                            </div>
                                        </div>
                                        <button class="tf-btn btn-search primary" type="submit">
                                            جستجو<i class="icon icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search -->

    <!-- Service -->
    <section class="flat-spacing-service bg-primary-new">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <h3 class="mt-4 title">به KETEC خوش آمدید</h3>
                <div class="text-subtitle text-primary">خدمات ما</div>
            </div>
            <div class="tf-grid-layout md-col-3 wow fadeInUp" data-wow-delay=".2s">
                <div class="box-service border-0">
                    <div class="image">
                        <img alt="image-location" class="lazyload" data-src="{{ panel.structure_design_image.url }}"
                             src="{{ panel.structure_design_image.url }}"/>
                    </div>
                    <div class="content">
                        <h5 class="title">طراحی سازه</h5>
                        <p class="description">
                            طراحی سازه خود را به ما بسپارید. ما با تجربه و تخصص در
                            دستیابی شما به سازه ای بهینه و ایمن شما را یاری خواهیم کرد.
                        </p>
                        <a class="tf-btn btn-line" href="{% url 'Structure_Design:index' %}">بیشتر بدانید<span
                                class="icon icon-arrow-left2"></span></a>
                    </div>
                </div>
                <div class="box-service border-0">
                    <div class="image">
                        <img alt="image-location" class="lazyload" data-src="{{ panel.bim_banner_image.url }}"
                             src="{{ panel.bim_banner_image.url }}"/>
                    </div>
                    <div class="content">
                        <h5 class="title">مدلسازی اطلاعات ساختمان</h5>
                        <p class="description">
                            با استفاده از فرایند BIM پروژه خود را قبل از ساخت تجسم کنید
                            و در پایان اجرای پروژه خود بهره برداری لذت بخشی از آن داشته باشید.
                        </p>
                        <a class="tf-btn btn-line" href="{% url 'bim:index' %}">بیشتر بدانید<span
                                class="icon icon-arrow-left2"></span></a>
                    </div>
                </div>
                <div class="box-service border-0">
                    <div class="image">
                        <img alt="image-location" class="lazyload" data-src="{{ panel.retrofit_image.url }}"
                             src="{{ panel.retrofit_image.url }}"/>
                    </div>
                    <div class="content">
                        <h5 class="title">بهسازی و مقاومسازی سازه ها</h5>
                        <p class="description">
                            پروژه خود را برای نسلهای آینده بیمه کنید و از سرمایه های خود حفاظت کنید.
                        </p>
                        <a class="tf-btn btn-line" href="{% url 'Retrofit:index' %}">بیشتر بدانید<span
                                class="icon icon-arrow-left2"></span></a>
                    </div>
                </div>
                <br>
            </div>
            <div class="container">
                <div class="tf-grid-layout sm-col-2" data-wow-delay=".2s">
                    <div class="box-service border-0">
                        <div class="image">
                            <img alt="image-location" class="lazyload"
                                 data-src="{{ panel.project_management_banner_image.url }}"
                                 src="{{ panel.project_management_banner_image.url }}"/>
                        </div>
                        <div class="content">
                            <h5 class="title">مدیریت پروژه های ساختمانی</h5>
                            <p class="description">
                                در ابتدای پروژه از زمان بهره برداری و مقادیر هزینه های پروژه خود آگاه باشید.
                            </p>
                            <a class="tf-btn btn-line" href="{% url 'project_management:index' %}">بیشتر بدانید<span
                                    class="icon icon-arrow-left2"></span></a>
                        </div>
                    </div>
                    <div class="box-service border-0">
                        <div class="image">
                            <img alt="image-location" class="lazyload" data-src="{{ panel.software_image.url }}"
                                 src="{{ panel.software_image.url }}"/>
                        </div>
                        <div class="content">
                            <h5 class="title">طراحی نرم افزار های مهندسی AEC</h5>
                            <p class="description">
                                با استفاده از نرم افزارهای ما پروژه های خود را با دقت و کیفت بالاتر
                                و در زمان کمتر به نتیجه برسانید.
                            </p>
                            <a class="tf-btn btn-line" href="{% url 'Software:index' %}"
                            >بیشتر بدانید<span class="icon icon-arrow-left2"></span
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service -->

    <!-- Structural Design -->
    <section class="flat-section flat-recommended">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <h3 class="title mt-4">
                    خدمات طراحی سازه
                </h3>
                <div class="text-subtitle text-primary">ویژگی های طراحی سازه</div>
            </div>
            <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s">
                <ul class="nav-tab-recommended justify-content-md-center" role="tablist">
                    <li class="nav-tab-item" onclick="getSTRProjects(0)" role="presentation"><a
                            class="nav-link-item active" data-bs-toggle="tab"
                            href="#viewAll">مشاهده همه</a>
                    </li>
                    {% for category in structure_categories %}
                        <li class="nav-tab-item" onclick="getSTRProjects({{ category.id }})" role="presentation"><a
                                class="nav-link-item" data-bs-toggle="tab"
                                href="#apartment">{{ category.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <script>
                    function getSTRProjects(id) {
                        $.get('/str-projects/' + id).then(res => {
                            $('#str_projects').html(res);
                        })
                    }
                </script>
                <div class="tab-content">
                    <div>
                        <div class="row" id="str_projects">
                            {% for project in structure_projects %}
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="homelengo-box">
                                        <div class="archive-top">
                                            <a class="images-group" href="{{ project.get_absolute_url }}">
                                                <div class="images-style">
                                                    <img alt="img" class="lazyload"
                                                         data-src="{{ project.image.url }}"
                                                         src="{{ project.image.url }}"
                                                    />
                                                </div>
                                            </a>
                                        </div>
                                        <div class="archive-bottom">
                                            <div class="content-top">
                                                <h6 class="text-capitalize">
                                                    <a class="link" href="{{ project.get_absolute_url }}"
                                                    >{{ project.title }}</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <a class="tf-btn btn-view primary size-1 hover-btn-view"
                               href="{% url 'Structure_Design:index' %}">مشاهده بیشتر<span
                                    class="icon icon-arrow-left2"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Structural Design -->

    <!-- BIM -->
    <section class="px-10 w-100">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary">BIM</div>
            <h3 class="mt-4 title">خدمات مدلسازی اطلاعات ساختمان</h3>
        </div>
        <div class="swiper-container-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for project in bim_projects %}
                        <div class="swiper-slide">
                            <div class="box-location">
                                <a class="image img-style" href="{{ project.get_absolute_url }}">
                                    <img alt="image-location"
                                         class="lazyload"
                                         data-src="{{ project.image.url }}"
                                         src="{{ category.image.url }}"
                                    />
                                </a>
                                <div class="content">
                                    <div class="inner-left">
                                        <span class="sub-title fw-6"></span>
                                        <h6 class="title text-line-clamp-1 link">{{ project.title }}</h6>
                                    </div>
                                    <a
                                            class="box-icon line w-44 round"
                                            href="{{ project.get_absolute_url }}"
                                    ><i class="icon icon-arrow-left2"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sw-pagination sw-pagination-location text-center"></div>
            </div>
        </div>
        <!-- Move navigation buttons BELOW the slider -->
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <br>
        <div class="text-center">
            <a class="tf-btn btn-view primary size-1 hover-btn-view"
               href="{% url 'bim:index' %}">مشاهده بیشتر<span
                    class="icon icon-arrow-left2"></span>
            </a>
        </div>
    </section>
    <!-- End BIM -->

    <!-- BIM-Proj  -->
    <section class="flat-section">
        <div class="container">
            <div class="flat-img-with-text style-3 bg-primary-new">
                <div class="content-left img-animation wow">
                    <img alt="" class="lazyload" data-src="images/banner/img-w-text6.jpg"
                         src="{{ panel.bim_main_image }}"/>
                </div>
                <div class="content-right">
                    <div class="box-title wow fadeInUp">
                        <div class="text-subtitle text-primary">پروژه برتر</div>
                        <h3 class="title mt-4"> مدلسازی اطلاعات ساختمان</h3>
                    </div>
                    <div class="flat-property-box wow fadeInUp" data-wow-delay=".2s">
                        <div class="archive-top">
                            <ul class="d-flex gap-6">
                                <li class="flag-tag primary">برجسته</li>
                            </ul>
                            <h4 class="title">
                                <a class="link"
                                   href="{{ panel.bim_top_project.get_absolute_url }}">{{ panel.bim_top_project.title }}</a>
                            </h4>
                            <div class="meta-location d-flex gap-4 align-items-center mt-16">
                                <p class="text-variant-1">
                                    {{ panel.bim_top_project_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End BIM-Proj  -->

    <!-- Retrofit -->
    <section class="px-10 w-100">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary">طراحی براساس عملکرد</div>
            <h3 class="title mt-4">تحلیل غیرخطی سازه ها</h3>
            <p class="desc text-variant-1">
                با دانستن مفاهیم طراحی سازه ها، درکی عمیق از ضوابط آیین نامه ای و طراحی ایمن داشته باشید.
            </p>
        </div>
        <div class="swiper-container-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for project in retrofit_projects %}
                        <div class="swiper-slide">
                            <div class="box-location">
                                <a class="image img-style" href="{{ project.get_absolute_url }}">
                                    <img alt="image-location"
                                         class="lazyload"
                                         data-src="{{ project.image.url }}"
                                         src="{{ category.image.url }}"
                                    />
                                </a>
                                <div class="content">
                                    <div class="inner-left">
                                        <span class="sub-title fw-6"></span>
                                        <h6 class="title text-line-clamp-1 link">{{ project.title }}</h6>
                                    </div>
                                    <a
                                            class="box-icon line w-44 round"
                                            href="{{ project.get_absolute_url }}"
                                    ><i class="icon icon-arrow-left2"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="sw-pagination sw-pagination-location text-center"></div>
            </div>
        </div>
        <!-- Move navigation buttons BELOW the slider -->
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <br>
        <div class="text-center">
            <a class="tf-btn btn-view primary size-1 hover-btn-view"
               href="{% url 'Retrofit:index' %}">مشاهده بیشتر<span
                    class="icon icon-arrow-left2"></span>
            </a>
        </div>
    </section>
    <!-- End Retrofit -->
    <br>
    <!-- Benefit -->
    <section class="mx-5 bg-primary-new radius-30">
        <div class="flat-img-with-text">
            <div class="content-left img-animation wow">
                <img alt="benefit banner" class="lazyload" data-src="{{ panel.benefit_banner_image.url }}"
                     src="{{ panel.benefit_banner_image.url }}"/>
            </div>
            <div class="content-right">
                <div class="box-title wow fadeInUp">
                    <div class="text-subtitle text-primary">مزیت</div>
                    <h3 class="title mt-4">چرا KETEC را انتخاب کنید</h3>
                    <p class="desc text-variant-1">
                        تیم باتجربه ما در زمینه ساختمان و سازه با سالها تجربه و ارائه تصمیمات آگاهانه و نتایج بهینه،
                        سرآمد است.
                    </p>
                </div>
                <div class="flat-service wow fadeInUp" data-wow-delay=".2s">
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-proven"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">تخصص اثبات شده</h5>
                            <p class="description">
                                تیم باتجربه ما در زمینه املاک و مستغلات با سالها پیمایش
                                موفق بازار، ارائه تصمیمات آگاهانه و نتایج بهینه، سرآمد
                                است.
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-customize"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">راه حل های سفارشی</h5>
                            <p class="description">
                                ما به خود می بالیم که استراتژی های شخصی سازی شده را برای
                                مطابقت با اهداف منحصر به فرد شما ایجاد می کنیم و سفری بی
                                وقفه در املاک و مستغلات را تضمین می کنیم.
                            </p>
                        </div>
                    </a>
                    <a class="box-benefit hover-btn-view" href="#">
                        <div class="icon-box">
                            <span class="icon icon-partnership"></span>
                        </div>
                        <div class="content">
                            <h5 class="title">مشارکتهای شفاف</h5>
                            <p class="description">
                                شفافیت در روابط مشتری ما کلیدی است. ما ارتباطات شفاف و
                                شیوه‌های اخلاقی را در اولویت قرار می‌دهیم و اعتماد و
                                قابلیت اطمینان را در سراسر جهان تقویت می‌کنیم.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Benefit -->

    <!-- Project Management -->
    <section class="flat-section flat-agents">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">مدیریت پروژه</div>
                <h3 class="title mt-4">پروژه خود را کاملا آگاهانه مدیریت کنید</h3>
            </div>
            <div class="single-property-element single-property-video">
                <video class="w-100" height="500px" src="{{ panel.project_management_video.url }}"
                       controls>
                    <source src="{{ panel.project_management_video.url }}">
                </video>
            </div>
            <p class="text-center desc body-2 text-variant-3">
                یک نماینده شوید و کمیسیونی را که شایسته آن هستید دریافت کنید.<a class="text-primary"
                                                                                href="{% url 'home_Page:contact' %}">با
                ما تماس بگیرید</a>
            </p>
        </div>
    </section>
    <!-- End Project Management -->

    <!-- Project Management samples -->
    <section class="flat-section pt-0">
        <div class="container">
            <div class="box-title text-center wow fadeInUp">
                <div class="text-subtitle text-primary">نمونه پروژه ها</div>
                <h3 class="title mt-4">مدیریت 4D</h3>
            </div>
            <div class="tf-grid-layout xl-col-4 sm-col-2 wow fadeInUp" data-wow-delay=".2s">
                <a class="flat-blog-item hover-img style-1" href="">
                    <div class="img-style">
                        <img alt="img-management1" class="lazyload" data-src="{{ panel.management_4d_image1.url }}"
                             src="{{ panel.management_4d_image1.url }}"/>
                    </div>
                </a>
                <a class="flat-blog-item hover-img style-1" href="">
                    <div class="img-style">
                        <img alt="img-management2" class="lazyload" data-src="{{ panel.management_4d_image2.url }}"
                             src="{{ panel.management_4d_image2.url }}"/>
                    </div>
                </a>
                <a class="flat-blog-item hover-img style-1" href="">
                    <div class="img-style">
                        <img alt="img-management3" class="lazyload" data-src="{{ panel.management_4d_image3.url }}"
                             src="{{ panel.management_4d_image3.url }}"/>
                    </div>
                </a>
                <a class="flat-blog-item hover-img style-1" href="">
                    <div class="img-style">
                        <img alt="img-management4" class="lazyload" data-src="{{ panel.management_4d_image4.url }}"
                             src="{{ panel.management_4d_image4.url }}"/>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- End Project Management samples -->

    <!-- Software -->
    <section class="px-10 w-100">
        <div class="box-title text-center wow fadeInUp">
            <div class="text-subtitle text-primary">نرم افزارها</div>
            <h3 class="title mt-4">سرعت و دقت در مهندسی با نرم افزارهای KETEC</h3>

        </div>
        <div class="swiper-container-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for project in soft_projects %}
                        <div class="swiper-slide">
                            <a class="flat-blog-item hover-img" href="{{ project.get_absolute_url }}">
                                <div class="img-style">
                                    <img alt="img-blog" class="lazyload" data-src="{{ project.image.url }}"
                                         src="{{ project.image.url }}"/>
                                </div>
                                <div class="content-box">
                                    <h5 class="title link">
                                        {{ project.title }}
                                    </h5>
                                    <div class="post-author">
                                        <span class="fw-6">قیمت:</span>
                                        <span>{{ project.price | money_format }} تومان</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <br>
        <div class="text-center">
            <a class="tf-btn btn-view primary size-1 hover-btn-view" href="{% url 'Software:index' %}"
            >مشاهده بیشتر<span class="icon icon-arrow-left2"></span
            ></a>
        </div>
    </section>
    <br>
    {% block extra_js %}
        <script src="{% static 'js/slider.js' %}" type="text/javascript"></script>
    {% endblock %}
    <!-- End Software -->
{% endblock %}