{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <!-- Welcoming -->
    <section class="flat-section">
        <div class="container flat-header-wrapper-about">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="title">{{ panel.title }}</h1>
                    <p class="text-variant-1 desc">
                        {{ panel.description }}
                    </p>
                    <div class="signature-box">
                        <div class="top">
                            <h6>{{ panel.manager_fullname }}</h6>
                            <p class="text-variant-2">{{ panel.manager_position }}</p>
                        </div>
                    </div>
                    <a class="tf-btn btn-view primary hover-btn-view" href="{% url 'home_Page:contact' %}">با ما تماس بگیرید<span class="icon icon-arrow-left2"></span>
                    </a>
                    <div class="box-img item1 ani5">
                        <img alt="" src="{{ panel.banner1.url }}"/>
                    </div>
                    <div class="box-img item2 ani4">
                        <img alt="" src="{{ panel.banner2.url }}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}