{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <section class="flat-title-page" style="background-image: url({% static 'images/page-title/page-title-4.jpg' %})">
        <div class="container">
            <div class="breadcrumb-content">
                <ul class="breadcrumb">
                    <li><a class="text-white" href="{% url 'home_Page:index' %}">خانه</a></li>
                    <li class="text-white">/ صفحات</li>
                    <li class="text-white">/ با ما تماس بگیرید</li>
                </ul>
                <h1 class="text-center text-white title">با ما تماس بگیرید</h1>
            </div>
        </div>
    </section>
    <!-- End Page Title -->
    <section class="flat-section flat-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-content">
                        <h4>{{ panel.contact_us_text }}</h4>
                        <form action="" class="form-contact" id="contactform" method="post">
                            {% csrf_token %}
                            <div class="box grid-2">
                                <fieldset>
                                    <label for="name">نام کامل:</label>
                                    <input class="form-control" id="name" name="fullname" placeholder="نام شما"
                                           required="" type="text"/>
                                </fieldset>
                                <fieldset>
                                    <label for="email">آدرس ایمیل:</label>
                                    <input class="form-control" id="email" name="email" placeholder="ایمیل" required=""
                                           type="text"/>
                                </fieldset>
                            </div>
                            <div class="box grid-2">
                                <fieldset>
                                    <label for="phone">شماره تلفن:</label>
                                    <input class="form-control style-1" id="phone" name="phone"
                                           placeholder="سابق 012345678" required="" type="text"/>
                                </fieldset>
                                <fieldset>
                                    <label for="subject">موضوع:</label>
                                    <input class="form-control style-1" id="subject" name="subject" required=""
                                           placeholder="کلمه کلیدی را وارد کنید" type="text"/>
                                </fieldset>
                            </div>
                            <fieldset>
                                <label for="message">پیام شما:</label>
                                <textarea class="form-control" cols="30" id="message" name="message"
                                          placeholder="متن پیام" required="" rows="10"
                                ></textarea>
                            </fieldset>
                            <div class="send-wrap">
                                <button class="tf-btn primary size-1" type="submit">
                                    ارسال پیام
                                </button>
                            </div>
                            <br><br>
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} font-weight-bold">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h4>با ما تماس بگیرید</h4>
                        <ul>
                            <li class="box">
                                <h6 class="title">آدرس:</h6>
                                <p class="text-variant-1">
                                    {{ panel.address }}
                                </p>
                            </li>
                            <li class="box">
                                <h6 class="title">اطلاعات:</h6>
                                <p class="text-variant-1">
                                    {{ panel.phone }}<br/>{{ panel.email }}
                                </p>
                            </li>
                            <li class="box">
                                <div class="title">ما را دنبال کنید:</div>
                                <ul class="box-social">

                                    {% if panel.facebook %}
                                        <li>
                                            <a class="item" href="{{ panel.facebook }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="18" viewBox="0 0 10 18" width="10"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00879 10.125L9.50871 6.86742H6.38297V4.75348C6.38297 3.86227 6.81961 2.99355 8.21953 2.99355H9.64055V0.220078C9.64055 0.220078 8.35102 0 7.11809 0C4.54395 0 2.86137 1.56023 2.86137 4.38469V6.86742H0V10.125H2.86137V18H6.38297V10.125H9.00879Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if panel.instagram %}
                                        <li>
                                            <a class="item" href="{{ panel.instagram }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.00245 4.38427C6.4484 4.38427 4.38828 6.44438 4.38828 8.99844C4.38828 11.5525 6.4484 13.6126 9.00245 13.6126C11.5565 13.6126 13.6166 11.5525 13.6166 8.99844C13.6166 6.44438 11.5565 4.38427 9.00245 4.38427ZM9.00245 11.9983C7.35195 11.9983 6.00264 10.653 6.00264 8.99844C6.00264 7.34392 7.34794 5.99862 9.00245 5.99862C10.657 5.99862 12.0023 7.34392 12.0023 8.99844C12.0023 10.653 10.653 11.9983 9.00245 11.9983ZM14.8816 4.19552C14.8816 4.79388 14.3997 5.27176 13.8054 5.27176C13.207 5.27176 12.7291 4.78986 12.7291 4.19552C12.7291 3.60118 13.211 3.11928 13.8054 3.11928C14.3997 3.11928 14.8816 3.60118 14.8816 4.19552Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if panel.youtube %}
                                        <li>
                                            <a class="item" href="{{ panel.youtube }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="14" viewBox="0 0 20 14" width="20"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19.2775 2.16608C19.051 1.31346 18.3839 0.641967 17.5368 0.414086C16.0013 0 9.84445 0 9.84445 0C9.84445 0 3.68759 0 2.15212 0.414086C1.30502 0.642003 0.637857 1.31346 0.411419 2.16608C0 3.71149 0 6.93586 0 6.93586C0 6.93586 0 10.1602 0.411419 11.7056C0.637857 12.5583 1.30502 13.2018 2.15212 13.4296C3.68759 13.8437 9.84445 13.8437 9.84445 13.8437C9.84445 13.8437 16.0013 13.8437 17.5368 13.4296C18.3839 13.2018 19.051 12.5583 19.2775 11.7056C19.6889 10.1602 19.6889 6.93586 19.6889 6.93586C19.6889 6.93586 19.6889 3.71149 19.2775 2.16608ZM7.8308 9.86334V4.00837L12.9767 6.93593L7.8308 9.86334Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if panel.linkedin %}
                                        <li>
                                            <a class="item" href="{{ panel.linkedin }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.5 18V6H0V18H4.5ZM2.25 4.5C3.492 4.5 4.5 3.492 4.5 2.25C4.5 1.008 3.492 0 2.25 0C1.008 0 0 1.008 0 2.25C0 3.492 1.008 4.5 2.25 4.5ZM18 18V11.25C18 7.875 16.875 6 13.875 6C12.75 6 11.625 6.75 11.25 7.5V6H6V18H11.25V12C11.25 10.5 12 9.75 13.125 9.75C14.25 9.75 14.625 10.5 14.625 12V18H18Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if panel.telegram %}
                                        <li>
                                            <a class="item" href="{{ panel.telegram }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18 0L15.3 18L9 12.6L3.6 9L0 7.2L18 0Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if panel.whatsapp %}
                                        <li>
                                            <a class="item" href="{{ panel.whatsapp }}" target="_blank"
                                               rel="noopener noreferrer">
                                                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M18 0L15.3 18L9 12.6L3.6 9L0 7.2L18 0Z"
                                                          fill="#161E2D"></path>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}