{% for project in coworking %} <!-- Show only 9 projects -->
    <div class="col-xl-4 col-lg-4 col-md-6 mb-4">
        <div class="homelengo-box card border rounded shadow-sm">
            <div class="archive-top position-relative">
                <a class="images-group" href="{{ project.get_absolute_url }}">
                    <div class="images-style">
                        <img alt="img" class="lazyload img-fluid rounded-top"
                             data-src="{{ project.image.url }}" src="{{ project.image.url }}"/>
                    </div>
                </a>
            </div>
            <div class="archive-bottom p-3">
                <h6 class="text-capitalize mt-2">
                    <a class="link text-dark fw-bold"
                       href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                </h6>

            </div>
        </div>
    </div>
{% endfor %}