<footer class="footer">
    <div class="top-footer">
        <div class="container">
            <div class="content-footer-top">
                <div class="footer-logo">
                    <a href="{% url 'home_Page:index' %}">
                        <img alt="logo" height="48" src="{{ panel.logo.url }}" width="166"/></a>
                </div>
                <div class="wd-social">
                    <span>ما را دنبال کنید:</span>
                    <ul class="list-social d-flex align-items-center">
                        {% if panel.facebook %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.facebook }}">
                                    <svg class="icon" fill="none" height="16" viewbox="0 0 9 16" width="9"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.60547 9L8.00541 6.10437H5.50481V4.22531C5.50481 3.43313 5.85413 2.66094 6.97406 2.66094H8.11087V0.195625C8.11087 0.195625 7.07925 0 6.09291 0C4.03359 0 2.68753 1.38688 2.68753 3.8975V6.10437H0.398438V9H2.68753V16H5.50481V9H7.60547Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.instagram %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.instagram }}">
                                    <svg fill="none" height="16" viewbox="0 0 16 16" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.58151 16H0.264292V5.31762H3.58151V16ZM1.92111 3.86044C0.860376 3.86044 0 2.98185 0 1.92111C7.59231e-09 1.4116 0.140303 0.92296 0.562681 0.562681C0.92296 0.140303 1.4116 0 1.92111 0C2.43063 0 2.91927 0.140303 3.27955 0.562681C3.63983 0.92296 3.84223 1.4116 3.84223 1.92111C3.84223 2.98185 2.98149 3.86044 1.92111 3.86044ZM15.9968 16H12.6867V10.7999C12.6867 9.56057 12.6617 7.97125 10.962 7.97125C9.23735 7.97125 8.97306 9.31771 8.97306 10.7106V16H5.65941V5.31762H8.84091V6.77479H8.88734C9.33021 5.93549 10.412 5.04976 12.026 5.04976C15.3832 5.04976 16.0004 7.26052 16.0004 10.132V16H15.9968Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.twitter %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.twitter }}">
                                    <svg fill="none" height="14" viewbox="0 0 14 14" width="14"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.30314 5.92804L13.4029 0H12.1944L7.7663 5.14724L4.22958 0H0.150391L5.4986 7.78354L0.150391 14H1.35894L6.03514 8.56434L9.77017 14H13.8494L8.30284 5.92804H8.30314ZM6.64787 7.85211L6.10598 7.07705L1.79439 0.909771H3.65065L7.13015 5.88696L7.67204 6.66202L12.195 13.1316H10.3387L6.64787 7.85241V7.85211Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.linkedin %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.linkedin }}">
                                    <svg fill="none" height="12" viewBox="0 0 16 12" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.3 0H0.7C0.3 0 0 0.3 0 0.7V15.4C0 15.7 0.3 16 0.7 16H15.4C15.8 16 16.1 15.7 16.1 15.3V0.7C16 0.3 15.7 0 15.3 0ZM4.7 13.6H2.4V6H4.7V13.6ZM3.6 5C2.8 5 2.2 4.3 2.2 3.6C2.2 2.8 2.8 2.2 3.6 2.2C4.4 2.2 5 2.8 5 3.6C5 4.3 4.4 5 3.6 5ZM13.6 13.6H11.2V9.9C11.2 9 11.2 7.9 10 7.9C8.8 7.9 8.6 8.9 8.6 9.9V13.6H6.2V6H8.5V7H8.6C8.9 6.4 9.7 5.8 10.8 5.8C13.1 5.8 13.6 7.4 13.6 9.4V13.6Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.telegram %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.telegram }}">
                                    <svg fill="none" height="12" viewBox="0 0 16 12" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM11.9 5.2L10.7 11.5C10.6 12 10.3 12.1 10 11.9L7.9 10.2L6.8 11.3C6.7 11.4 6.6 11.5 6.4 11.5L6.6 9.3L10.3 6C10.5 5.8 10.3 5.7 10 5.9L5.3 8.8L3.1 8.1C2.6 7.9 2.6 7.6 3.1 7.3L11.3 4.1C11.7 3.9 12 4.1 11.9 4.6V5.2Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.youtube %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.youtube }}">
                                    <svg fill="none" height="12" viewbox="0 0 16 12" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.6657 1.76024C15.4817 1.06737 14.9395 0.521689 14.2511 0.336504C13.0033 0 8 0 8 0C8 0 2.99669 0 1.7489 0.336504C1.06052 0.521718 0.518349 1.06737 0.334336 1.76024C0 3.01611 0 5.63636 0 5.63636C0 5.63636 0 8.25661 0.334336 9.51248C0.518349 10.2053 1.06052 10.7283 1.7489 10.9135C2.99669 11.25 8 11.25 8 11.25C8 11.25 13.0033 11.25 14.2511 10.9135C14.9395 10.7283 15.4817 10.2053 15.6657 9.51248C16 8.25661 16 5.63636 16 5.63636C16 5.63636 16 3.01611 15.6657 1.76024ZM6.36363 8.01535V3.25737L10.5454 5.63642L6.36363 8.01535Z"
                                              fill="white"></path>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if panel.whatsapp %}
                            <li>
                                <a class="box-icon w-40 social" href="{{ panel.whatsapp }}">
                                    <svg fill="none" height="12" viewBox="0 0 16 12" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 0C3.6 0 0 3.6 0 8C0 12.4 3.6 16 8 16C12.4 16 16 12.4 16 8C16 3.6 12.4 0 8 0ZM11.9 12.1C11.9 12.1 11.3 13.4 11.1 13.8C10.9 14.2 10.5 14.3 10 14.1C9.5 13.9 7.9 13.2 6.7 12.1C5.5 11 4.8 9.4 4.6 8.9C4.4 8.4 4.6 8 5 7.8C5.4 7.6 6.7 7 6.7 7C7.1 6.8 7.3 6.5 7.3 6.1C7.3 5.7 7 5.4 6.6 5.4C6.2 5.4 5.7 5.5 5.2 5.8C4.7 6.1 3.9 6.7 3.9 7.9C3.9 9.1 4.7 10.3 5.8 11.4C6.9 12.5 8.1 13.3 9.3 13.3C10.5 13.3 11.1 12.6 11.4 12.1C11.7 11.6 11.9 11.7 11.9 12.1Z"
                                              fill="white"/>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-cl-1">
                        <p class="text-variant-2">
                            {{ panel.footer_text }}
                        </p>
                        <ul class="mt-12">
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i
                                        class="icon icon-mapPinLine fs-20 text-variant-2"
                                ></i>
                                <p class="text-white">
                                    {{ panel.address }}
                                </p>
                            </li>
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i class="icon icon-phone2 fs-20 text-variant-2"></i>
                                <a
                                        class="text-white caption-1"
                                        href="tel:{{ panel.phone }}"
                                >{{ panel.phone }}</a
                                >
                            </li>
                            <li class="mt-12 d-flex align-items-center gap-8">
                                <i class="icon icon-mail fs-20 text-variant-2"></i>
                                <p class="text-white">{{ panel.email }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-cl-2 footer-col-block">
                        <div class="fw-7 text-white footer-heading-mobile">
                            خدمات ما
                        </div>
                        <div class="tf-collapse-content">
                            <ul class="mt-10 navigation-menu-footer">
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'Structure_Design:index' %}">خدمات
                                        طراحی سازه</a>
                                </li>
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'bim:index' %}">خدمات BIM </a
                                    >
                                </li>
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'Retrofit:index' %}">خدمات بهسازی و
                                        مقاومسازی سازه</a>
                                </li>
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'project_management:index' %}">خدمات
                                        مدیریت پروژه</a>
                                </li>
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'Software:index' %}">نرم
                                        افزارها</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-cl-3 footer-col-block">
                        <div class="fw-7 text-white footer-heading-mobile">
                            شرکت ما
                        </div>
                        <div class="tf-collapse-content">
                            <ul class="mt-10 navigation-menu-footer">
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'home_Page:about' %}">درباره ما</a>
                                </li>
                                <li>
                                    <a class="caption-1 text-variant-2" href="{% url 'home_Page:contact' %}">تماس با
                                        ما</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>